body {
  margin: 0;
  padding: 0;
  /* background: url(https://images.unsplash.com/photo-1504333638930-c8787321eee0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=1350&q=80); */
  background: url("./Images/Background.jpg");
  overflow: hidden;
  position: relative;
  animation: scroll 700s linear infinite;
}

@keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: scroll 400s linear infinite;
  }
}
.App {
  position: relative;
}

.stars {
  position: absolute;
  z-index: -1;
  height: 280px;
  margin-top: 20%;
}

.space-ship {
  width: 20%;
  height: 20% auto;
  position: absolute;
  left: 42%;
  top: 100%;
}

.stone {
  /* z-index: 1; */
  max-height: 200px;
  overflow: hidden;
  position: absolute;
}

.buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: 100%;
  height: 100%;
}

.up-down-btn-div {
  display: grid;
  grid-template-areas: "button-up", "button-down";
}

.button-up {
  padding: 10px 20px;
  z-index: 100;
}

.button-down {
  padding: 10px 20px;
  z-index: 100;
}

.speed-up {
  z-index: 100;
  padding: 10px 20px;
}

.speed-slow {
  z-index: 100;
  padding: 10px 20px;
}
